body {
  background: #131415;
  color: #ffffff;
}
.container {
  background-color: #282828;
  padding: 16px;
  border-radius: 16px;
  width: fit-content;
  margin: 20px 0;
}
.header {
  background-color: #282828;
  padding: 16px;
  border-radius: 16px;
  width: auto;
  margin: 20px 0;
}
.label {
  margin: 20px 0;
}
.me {
}
.box {
  box-shadow: 33px 32px 0px -4px rgba(32, 33, 47, 0.1);
}
